/*
	Ryan's 3d Printer Le-Potato Overlay
	Enables 4 CS Pins for SPI on pins 33 (CS0), 35 (CS1), 38 (CS2), 40 (CS3)
	One for LCD Screen, One for Touch Interface, One for Bed, and hotend accelerometer each. 
*/

/dts-v1/;
/plugin/;
 

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/gpio/meson-gxl-gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/amlogic,meson-gxl-gpio-intc.h>
/ {
	compatible = "libretech,cc", "amlogic,s905x", "amlogic,meson-gxl";

	fragment@0 {
		target-path = "/aliases";

		__overlay__ {
			spi0 = "/soc/cbus@c1100000/spi@8d80";
		};
	};

	fragment@1 {
		target = <&spicc>;
		
		__overlay__ {
			status = "okay";
			pinctrl-0 = <&spi_pins>;
			pinctrl-1 = <&spi_pins>, <&spi_idle_high_pins>;
			pinctrl-2 = <&spi_pins>, <&spi_idle_low_pins>;
			pinctrl-names = "default", "idle-high", "idle-low";

			cs-gpios = <&gpio GPIOX_10 GPIO_ACTIVE_LOW>, <&gpio GPIOX_1 GPIO_ACTIVE_LOW>,<&gpio GPIOX_0 GPIO_ACTIVE_LOW>, <&gpio GPIOX_2 GPIO_ACTIVE_LOW>;
		};
	};
    fragment@2 {
		target = <&spicc>;
		
		__overlay__ {
			spidev@2 {
				compatible = "rohm,dh2228fv";
				reg = <2>;
				spi-max-frequency = <5000000>;
				spi-mode = <3>; /* Set SPI mode to 2 */
			};
			spidev@3 {
				compatible = "rohm,dh2228fv";
				reg = <3>;
				spi-max-frequency = <5000000>;
				spi-mode = <3>; /* Set SPI mode to 2 */
			};
		};
	};
    fragment@3 {
		target = <&spicc>;
		
		__overlay__ {
			/*
			 * - D/C to Pin29 (GPIOX_17)
			 * - RESET to Pin31 (GPIOX_18)
			 * - (LCD) CS to Pin33 (GPIOX_6) (CS0)
			 */
			display@0 {
				compatible = "adafruit,yx240qv29", "ilitek,ili9341";
				rotation = <90>;
				bgr = <0>;
				fps = <15>;
				height = <240>;
				width = <320>;
				debug = <4>;
				reg = <0>;
				buswidth = <8>;
				spi-max-frequency = <30000000>;
				dc-gpios = <&gpio GPIOX_16 GPIO_ACTIVE_HIGH>;
				reset-gpios = <&gpio GPIOX_6 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};
			
						
		};
	};
    fragment@4 {
		target = <&cec_AO>;
		
		__overlay__ {
			status = "disabled";
		};
	};
    fragment@5 {
		target = <&spicc>;
		
		__overlay__ {

			touchscreen@1 {
				compatible = "ti,ads7846";
				reg = <1>;
				spi-max-frequency = <3000000>;
				interrupt-parent = <&gpio_intc>;
				interrupts = <IRQID_GPIOX_18 IRQ_TYPE_EDGE_FALLING>;
				pendown-gpio = <&gpio GPIOX_18 GPIO_ACTIVE_LOW>;
				ti,x-min = /bits/ 16 <0>;
				ti,y-min = /bits/ 16 <0>;
				ti,x-max = /bits/ 16 <4095>;
				ti,y-max = /bits/ 16 <4095>;
				ti,pressure-min = /bits/ 16 <0>;
				ti,pressure-max = /bits/ 16 <0xFFFF>;
				ti,x-plate-ohms = /bits/ 16 <100>;
				ti,swap-xy = <1>; /* Enable swap_xy */
				wakeup-source;
				status = "okay";
			};
		};
	};
    fragment@6 {
		target-path = "/aliases";

		__overlay__ {
			serial2 = "/soc/bus@c8100000/serial@4e0";
		};
	};
    fragment@7 {
		target = <&uart_AO_B>;

		__overlay__ {
			status = "okay";
			pinctrl-0 = <&uart_ao_b_pins>;
			pinctrl-names = "default";
		};
	};
};
