/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/interrupt-controller/irq.h>

/*
    A Device tree overlay that enables the following:
    3.5" ILI9341 Display widh ADS7846 Touch controller as Spi Devices 0, and 1
    2 Extra chip select pins for Spidev 2 and 3 for adxl sensors or whatever else you want
    Uart 1 and Uart 2 
    ---I connect printer to Uart 1 left uart 2 for later usage, 
    ---if you are going to use Uart 2 mask the serial-getty@ttyS2 service so it doesn't start.
    
*/

/ {
	compatible = "rockchip,rk3328";

	fragment@0 {
		target-path = "/aliases";
		
		__overlay__ {
			spi0 = "/soc/spi@ff190000";
		};
	};
	fragment@1 {
		target = <&spi0>;
		
		__overlay__ {
			status = "okay";
			num-cs = <4>;
			pinctrl-names = "default", "default";
			pinctrl-1 = <&spi0m0_cs1>;
			cs-gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>, <&gpio2 RK_PB4 GPIO_ACTIVE_LOW>,
				<&gpio2 RK_PB7 GPIO_ACTIVE_LOW>,<&gpio2 RK_PC2 GPIO_ACTIVE_LOW>;
			
			display@0 {
/*				compatible = "waveshare,rpi-lcd-35", "ilitek,ili9486";*/
				compatible = "adafruit,yx240qv29", "ilitek,ili9341";
				rotation = <90>;
				bgr = <0>;
				fps = <15>;
				buswidth = <1>;
				height = <240>;
				width = <320>;
				reg = <0>;
				spi-max-frequency = <30000000>;
				reset-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
				dc-gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};
			touchscreen@1 {
				compatible = "ti,ads7846";
				pinctrl-names = "default";
				pinctrl-0 = <&i2s1_sdio1>;
				reg = <1>;
				spi-max-frequency = <2000000>;
				interrupt-parent = <&gpio2>;
				interrupts = <20 IRQ_TYPE_EDGE_FALLING>;
				pendown-gpio = <&gpio2 RK_PC4 GPIO_ACTIVE_LOW>;
				ti,x-min = /bits/ 16 <0>;
                ti,y-min = /bits/ 16 <0>;
                ti,x-max = /bits/ 16 <4095>;
                ti,y-max = /bits/ 16 <4095>;
                ti,pressure-min = /bits/ 16 <0>;
                ti,pressure-max = /bits/ 16 <0xFFFF>;
                ti,x-plate-ohms = /bits/ 16 <100>;
                ti,swap-xy = <1>; /* Enable swap_xy */
				wakeup-source;
				status = "okay";
			};
			spidev@2 {
				compatible = "rohm,dh2228fv";
				reg = <2>;
				spi-max-frequency = <30000000>;
			};
			spidev@3 {
				compatible = "rohm,dh2228fv";
				reg = <3>;
				spi-max-frequency = <30000000>;
			};
		};
	};
	
	fragment@2 {
                target = <&uart1>;
                __overlay__ {
                        status = "okay";
                };
        };


    /* 
    ------------------------------------------
        COMMENT OUT THIS LAST FRAGMENT IF YOU DONT WANT UART2 ENABLED
    ------------------------------------------
    */
	fragment@3 {
                target = <&uart2>;
                __overlay__ {
                        status = "okay";
                };
        };


};



